html{
  scroll-behavior: smooth;

}

body{
  font-family: 'Work Sans';
  style: regular;
  color: black;
  font-size: 18px;
}

body,html {
  height: 100%;
}

h1{
  font-weight: bold;
  font-family: 'Spectral';
  font-weight: 600;
  font-style: italic;
}

h2{
  font-weight: bold;
  font-family: 'Spectral';
  font-weight:600;
  padding-bottom:5%;
}

ul{
  list-style-type: none; !important
  margin:0;
  padding:0;
}

.card:hover{
  -webkit-box-shadow: 0px 9px 34px -12px rgba(204,204,204,1);
  -moz-box-shadow: 0px 9px 34px -12px rgba(204,204,204,1);
  box-shadow: 0px 9px 34px -12px rgba(204,204,204,1);
}

.fa-linkedin{
  color: #0072b1;
}

.top-offset{
  padding-bottom: 10%;
}

a{
  color: black;
}

a:hover{
  color: #495057;
  opacity: 70%;
  text-decoration: none;
}

.card-img-top{
  max-width: 210px;
}


.nav-item{
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-brand{
  color: black !important;
  font-weight: bold;
  font-size: 20px;
}

.navbar-custom {
    background-color: #FFE44D;
    -webkit-box-shadow: 0 1px 4px 1px #00000025;
    -moz-box-shadow: 0 1px 4px 1px #00000025;
    box-shadow: 0 1px 4px 1px #00000025;
}

.info{
  color: black;
  font-size: 15px;
}

.box{
  background-color: #02A27F;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
